<!-- Slider Start -->
<section id="slider" style="background-image: url('{{ site.data.home.homepage_slider.background_image }}');">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <div class="block">
            <h1 class="animated fadeInUp">{{ site.data.home.homepage_slider.title }}</h1>
            <h2 class="animated fadeInUp">{{ site.data.home.homepage_slider.subtitle }}</h2>
            <p class="animated fadeInUp">{{ site.data.home.homepage_slider.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>