<!-- Service Start -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>{{ site.data.ourservices.content.title }}</h2>
                <p>{{ site.data.ourservices.content.description }}</p>
            </div>
        </div>
        <div class="row ">
            {% for service in site.data.ourservices.services_list %}
            {% if service.display == "Show" %}
            <div class="col-sm-6 col-md-3">
                <a href="{{ service.link }}">
                    <div class="service-item">
                        <i class="{{ service.icon }}"></i>
                        <h4>{{ service.title }}</h4>
                        <p>{{ service.content }}</p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>