<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup {
    clear: left;
    font: 14px 'Roboto', sans-serif;
    width: 100%;
  }

</style>
<!-- Call to action Start -->
<section id="call-to-action" style="background-image: url('{{ site.data.subscribe-form.subscribe_form.background_image }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ site.data.subscribe-form.subscribe_form.title }}</h2>
          <p>{{ site.data.subscribe-form.subscribe_form.subtitle }}</p>
          <!-- <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a> -->
          <!-- Begin Mailchimp Signup Form -->

          <div id="mc_embed_signup">
            <form
              action="https://gmail.us6.list-manage.com/subscribe/post?u=2f456315fe018839a39c09637&amp;id=c2501744da"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ site.data.subscribe-form.subscribe_form.placeholder }}" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2f456315fe018839a39c09637_c2501744da" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="{{ site.data.subscribe-form.subscribe_form.button }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>

          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
</section>